
/**
 * Accordion.
 * @author Joakim Stai
 * @license GPL 2
 */

/* Container */
#nodeform-accordion {
  border-bottom: 1px solid #D9EAF5;
}
#nodeform-accordion:after { /* Clearing without presentational markup, IE gets extra treatment */
 display: block;
 clear: both;
 content: " ";
}

#nodeform-accordion h3 {
  background-color: #FFFFFF;
  border: 1px solid #D9EAF5;
  border-bottom: none;
  font-size: 100%;
}

#nodeform-accordion h3 a {
  display: block;
  margin: 0;
  padding: 0.2em 1em;
  outline: 0; /* Prevent dotted border in Firefox */
}

#nodeform-accordion h3.selected {
  background-color: #EDF5FA;
}

#nodeform-accordion h3.selected a {
  font-weight: bold;
}

#nodeform-accordion fieldset {
  margin: 0;
  padding: 0 1em;
  border-bottom: none;
}
