
/**
 * Vertical tabs, aka drawers.
 * @author Bevan Rudge drupal.geek.nz
 * @author Joakim Stai
 * @license GPL 2
 */

/* Container */
#nodeform-vertical-tabs {
  background: #fff url(gradient-inner.png) repeat-x;
}
#nodeform-vertical-tabs:after { /* Clearing without presentational markup, IE gets extra treatment */
  display: block;
  clear: both;
  content: " ";
}

/* Tabs */
.ui-tabs-hide {
  display: none;
}
.ui-tabs-nav {
  float: left;
  margin: 0;
  padding: 0;
  background: #fff url(gradient-inner.png) repeat-x;
  border-top: 1px solid #d9eaf5;
  border-left: 1px solid #d9eaf5;
}
.ui-tabs-nav li {
  margin: 0;
  padding: 0;
  background: #edf5fa none;
  border-right: 1px solid #d9eaf5;
  border-bottom: 1px solid #d9eaf5;
}
.ui-tabs-nav li.ui-tabs-selected {
  background: transparent none;
  border-right: none;
}
.ui-tabs-nav a {
  display: block;
  margin: 0;
  padding: 0.2em 1em;
  outline: 0; /* Prevent dotted border in Firefox */
  white-space: nowrap; /* Required in IE 6 */  
}
.ui-tabs-nav .ui-tabs-selected a {
  color: #000;
}
.ui-tabs-nav .ui-tabs-selected a:link,
.ui-tabs-nav .ui-tabs-selected a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
  cursor: text;
  text-decoration: none;
}
.ui-tabs-nav a:hover,
.ui-tabs-nav a:focus,
.ui-tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
  cursor: pointer;
}

/* Panels */
.ui-tabs-panel legend {
  display: none; /* Hiding is not good for accessibility, but text-indent: -5000px had an annoying side effect... */
}
.ui-tabs-panel {
  height: inherit;
  margin: 0 0 0 -1px;
  padding-top: 0;
  background: transparent none;
}

/* Adjusting some elements */
.ui-tabs-panel .form-checkboxes,
.ui-tabs-panel .form-radios {
  margin: 1em 0;
}
